wa-cache
wa-data
wa-log
.fw_compatible
.files.md5
build.php
config.codekit
/wa-system/webasyst/lib/updates/dev
.idea

# is takenm from shop repository
wa-apps/shop

# installed from different source
wa-apps/logs